<header class="header">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <div class="container">
    <div class="logo">
      <h1>Paper</h1>
    </div>
    
  
    <div class="header-right">
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search..." />
        <button><i class="fas fa-search"></i></button>
      </div>
    </div>

    