
      <nav class="nav-menu">
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a routerLink="categories">CATEGORİES</a></li>
          <li><a routerLink="categories">POLITICS</a></li>
          <li><a routerLink="categories">BUSINESS</a></li>
          <li><a routerLink="categories">HEALTH</a></li>
          <li><a routerLink="categories">DESIGN</a></li>
          <li><a routerLink="categories">SPORT</a></li>
          <li><a routerLink="contact">CONTACT</a></li>
          <li><a routerLink="about">ABOUT</a></li>
        </ul>
      </nav>
    
      