<!-- Categories Section -->
<section class="categories">
    <div class="politics">
      <h2>Politics</h2>
      <div class="politics-item" *ngFor="let article of politicsArticles">
        <a target="_blank" href="{{article.url}}">   
          <img [src]="article.urlToImage" alt="{{ article.title }}" >
          <h3>{{ article.title }}</h3>
          <p>{{ article.description }}</p>
          <p>By {{ article.author }} · {{ article.publishedAt | date }}</p>
        </a>
      </div>
    </div>

    <div class="popular-posts">
        <h2>Popular Posts</h2>
        <div class="popular-item" *ngFor="let article of popularPosts; let i = index">
          <span>0{{ i + 1 }}</span>
            <a target="_blank" href="{{article.url}}"> 
               <h3>{{ article.title }}</h3>
               <p>{{ article.description }}</p>
               <p>By {{ article.author }} · {{ article.publishedAt | date }}</p>
            </a>
        </div>
        <a href="#" class="see-all">See all popular</a>
      </div>
    </section>

